/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: rgb(255, 255, 255);
    font-family: "Urbanist", serif;
    text-align: center;
}

body {
    background-color: #1c1f22; /* Gris claro */
}

td, th {
    border: none;
}
